{#using 'port' as access to portfolio#}
{% extends "layout.html" %}
{% set active_page = "My Portfolios" %}
{% set title = "Portfolio" %}
{% block content %}
    <div class="content-box flex-row flex-wrap justify-content-between align-items-center">
        <h3 class="m-0">{{ port.name }}</h3>
        <div class="d-flex justify-content-end gap-2">
            <button id="transactionModalBtn" type="button" class="d-flex gap-1 btn btn-outline-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#recordModal">
                <img src="{{ url_for("static", filename="img/journal.svg") }}" alt="..."
                     width="24">
                <span class="d-none d-md-block">Record Transaction</span>
            </button>
            <button type="button" class="d-flex gap-1 btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#editModal">
                <img src="{{ url_for("static", filename="img/pencil.svg") }}" alt="..."
                     width="24">
                <span class="d-none d-md-block">Edit Name</span>
            </button>
            <button type="button" class="d-flex gap-1 btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">
                <img src="{{ url_for("static", filename="img/trash.svg") }}" alt="..." width="24">
                <span class="d-none d-md-block">Delete Portfolio</span>
            </button>
        </div>
    </div>
    <div class="content-box">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Ticker</th>
                <th class="d-none d-lg-table-cell">Qty</th>
                <th class="d-none d-xl-table-cell">Avg Price</th>
                <th class="d-none d-lg-table-cell">Mkt Price</th>
                <th class="d-none d-lg-table-cell">Book Value</th>
                <th>Mkt Value</th>
                <th class="pe-2">Gain</th>
                <th class="d-none d-sm-table-cell pe-2">Gain %</th>
                <th class="d-none d-md-table-cell pe-2">Day Gain</th>
                <th class="d-none d-md-table-cell pe-2">Day Gain %</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for stock in port.stocks if stock.transactions %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td class="d-none d-lg-table-cell">{{ round(stock.open_qty) }}</td>
                    <td class="d-none d-xl-table-cell">{{ format_dollar(stock.avg_price) }}</td>
                    <td class="d-none d-lg-table-cell">{{ format_dollar(stock.mkt_price) }}</td>
                    <td class="d-none d-lg-table-cell">{{ format_dollar(stock.open_cost_basis) }}</td>
                    <td>{{ format_dollar(stock.mkt_value) }}</td>
                    <td class="ps-1">
                        {% set open_pl = format_pl(stock.open_pl) %}
                        <span class="cell-hl {{ open_pl.get("direction") }}">
                            {{ open_pl.get("value") }}
                        </span>
                    </td>
                    <td class="d-none d-sm-table-cell ps-1">
                        {% set open_pl_perc = format_percent(stock.open_pl_percent) %}
                        <span class="cell-hl {{ open_pl_perc.get("direction") }}">
                            {{ open_pl_perc.get("value") }}
                        </span>
                    </td>
                    <td class="d-none d-md-table-cell ps-1">
                        {% set mkt_change_value = format_pl(stock.mkt_change_value) %}
                        <span class="cell-hl {{ mkt_change_value.get("direction") }}">
                            {{ mkt_change_value.get("value") }}
                        </span>
                    </td>
                    <td class="d-none d-md-table-cell ps-1">
                        {% set mkt_change_perc = format_percent(stock.mkt_change_percent) %}
                        <span class="cell-hl {{ mkt_change_perc.get("direction") }}">
                            {{ mkt_change_perc.get("value") }}
                        </span>
                    </td>
                    <td>
                        <div class="dropdown dropdown-options">
                            <button id="dropdownBtn" class="btn-img" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='img/three-dots-vertical.svg') }}" alt="">
                            </button>
                            <ul class="dropdown-menu custom-dropdown">
                                <li>
                                    <a role="button" class="dropdown-item d-flex gap-2 btn-dropdown" data-type="buy"
                                       data-stock="{{ stock.ticker }}" data-bs-toggle="modal"
                                       data-bs-target="#recordModal">
                                        <img src="{{ url_for("static", filename="img/journal-plus.svg") }}" alt="..."
                                             width="18">
                                        <span>Buy</span>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" class="dropdown-item d-flex gap-2 btn-dropdown" data-type="sell"
                                       data-stock="{{ stock.ticker }}" data-bs-toggle="modal"
                                       data-bs-target="#recordModal">
                                        <img src="{{ url_for("static", filename="img/journal-minus.svg") }}" alt="..."
                                             width="18">
                                        <span>Sell</span>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" class="dropdown-item d-flex gap-2 btn-expand"
                                       data-bs-toggle="collapse"
                                       href="#collapseTable{{ loop.index }}" aria-expanded="false"
                                       aria-controls="collapseTable{{ loop.index }}">
                                        <img src="{{ url_for("static", filename="img/arrows-angle-expand.svg") }}"
                                             alt="..." width="18">
                                        <span>Expand</span>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" class="dropdown-item d-flex gap-2 btn-delete-stock"
                                       data-bs-toggle="modal" data-bs-target="#deleteStockModal"
                                       data-stock-id="{{ stock.id }}">
                                        <img src="{{ url_for("static", filename="img/trash.svg") }}" alt="..."
                                             width="18">
                                        <span>Delete</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr class="collapse" id="collapseTable{{ loop.index }}">
                    <td colspan="11" class="px-1">
                        <table class="table table-sm table-nested">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th class="d-none d-sm-table-cell">Value</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in stock.transactions %}
                                <tr>
                                    <td>{{ t.type.value.title() }}</td>
                                    <td>{{ t.date.strftime("%Y/%m/%d") }}</td>
                                    <td>{{ round(t.quantity) }}</td>
                                    <td>{{ format_dollar(t.price) }}</td>
                                    <td class="d-none d-sm-table-cell">{{ format_dollar(t.value) }}</td>
                                    <td>
                                        <div class="dropdown dropdown-options">
                                            <button id="dropdownBtn" class="btn-img" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{{ url_for('static', filename='img/three-dots-vertical.svg') }}"
                                                     alt="">
                                            </button>
                                            <ul class="dropdown-menu custom-dropdown">
                                                <li>
                                                    <a role="button"
                                                       class="dropdown-item d-flex gap-2 btn-delete-transaction"
                                                       data-bs-toggle="modal" data-bs-target="#deleteTransactionModal"
                                                       data-t-id="{{ t.id }}">
                                                        <img src="{{ url_for("static", filename="img/trash.svg") }}"
                                                             alt="..."
                                                             width="16">
                                                        <span>Delete</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button"
                                                       class="dropdown-item d-flex gap-2 btn-edit-transaction"
                                                       data-bs-toggle="modal" data-bs-target="#editTransactionModal"
                                                       data-t-id="{{ t.id }}" data-t-ticker="{{ t.ticker }}"
                                                       data-t-qty="{{ t.quantity }}" data-t-price="{{ t.price }}"
                                                       data-t-date="{{ t.date.strftime("%Y-%m-%d") }}"
                                                       data-t-type="{{ t.type.value }}">
                                                        <img src="{{ url_for("static", filename="img/pencil.svg") }}"
                                                             alt="..."
                                                             width="16">
                                                        <span>Edit</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#Record Transaction Modal#}
    {% set form_control = "form-control mb-2" %}
    <div class="modal fade" id="recordModal" tabindex="-1" aria-labelledby="recordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="recordModalLabel">Record a Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="transaction-form" id="transactionForm" method="POST"
                      action="{{ url_for("portfolios.portfolio_transaction") }}">
                    {{ transaction_form.hidden_tag() }}
                    <input type="hidden" id="port_id_t" name="port_id" value="{{ port.id }}">
                    <div class="modal-body row row-cols-3">
                        <div class="col">
                            {{ transaction_form.type.label }}
                            {% set attribs = {'aria-label': 'transaction type select'} %}
                            {{ transaction_form.type(class="form-select", id="typeSelectT", **attribs) }}
                        </div>
                        <div class="col">
                            {{ transaction_form.ticker.label }}
                            {% set attribs = {'aria-label': 'ticker input'} %}
                            {{ transaction_form.ticker(class=form_control, id="tickerT", **attribs) }}
                        </div>
                        <div class="col">
                            {{ transaction_form.quantity.label }}
                            {% set attribs = {'aria-label': 'quantity input'} %}
                            {{ transaction_form.quantity(class=form_control, **attribs) }}
                        </div>
                        <div class="col">
                            {{ transaction_form.price.label }}
                            {% set attribs = {'aria-label': 'price input'} %}
                            {{ transaction_form.price(class=form_control, **attribs) }}
                        </div>
                        <div class="col">
                            {{ transaction_form.date.label }}
                            {% set attribs = {'aria-label': 'date input'} %}
                            {{ transaction_form.date(class=form_control, **attribs) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        {{ transaction_form.submit(class="btn btn-dark", id="submitBtnT") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#Edit Name Modal#}
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edit Portfolio Name</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for("portfolios.update_portfolio_name") }}">
                    {{ port_name_form.hidden_tag() }}
                    <input type="hidden" id="port_id_e" name="port_id" value="{{ port.id }}">
                    <div class="modal-body">
                        <span>New portfolio name:</span>
                        {% set attribs = {'aria-label': 'name input'} %}
                        {{ port_name_form.name(class=form_control, value=port.name, **attribs) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        {{ port_name_form.submit(class="btn btn-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#Delete Port Modal#}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Portfolio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this portfolio? <br>This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for("portfolios.delete_portfolio") }}">
                        <input type="hidden" id="port_id_d" name="port_id" value="{{ port.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#Delete Stock Modal#}
    <div class="modal fade" id="deleteStockModal" tabindex="-1" aria-labelledby="deleteStockModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteStockModalLabel">Delete Stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this stock? <br>This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for("portfolios.delete_stock") }}">
                        <input type="hidden" id="port_id_ds" name="port_id" value="{{ port.id }}">
                        <input type="hidden" id="stock_id" name="stock_id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#Delete Transaction Modal#}
    <div class="modal fade" id="deleteTransactionModal" tabindex="-1" aria-labelledby="deleteTransactionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteTransactionModalLabel">Delete Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this transaction? <br>This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for("portfolios.delete_transaction") }}">
                        <input type="hidden" id="port_id_dt" name="port_id" value="{{ port.id }}">
                        <input type="hidden" id="t_id_del" name="t_id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#Edit Transaction Modal#}
    <div class="modal fade" id="editTransactionModal" tabindex="-1" aria-labelledby="editTransactionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editTransactionModalLabel">Edit Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="transaction-form" id="editForm" method="POST"
                      action="{{ url_for("portfolios.edit_transaction") }}">
                    <div class="modal-body">
                        {{ edit_form.hidden_tag() }}
                        <input type="hidden" id="port_id_et" name="port_id" value="{{ port.id }}">
                        <input type="hidden" id="t_id_edit" name="t_id">
                        <div class="modal-body row row-cols-3">
                            <div class="col">
                                {{ edit_form.type.label }}
                                {% set attribs = {'aria-label': 'transaction type select'} %}
                                {{ edit_form.type(class="form-select form-type", id="typeSelectE", **attribs) }}
                            </div>
                            <div class="col">
                                {{ edit_form.ticker.label }}
                                {% set attribs = {'aria-label': 'ticker input', 'readonly': true} %}
                                {{ edit_form.ticker(class=form_control + " form-ticker", id="tickerE", **attribs) }}
                            </div>
                            <div class="col">
                                {{ edit_form.quantity.label }}
                                {% set attribs = {'aria-label': 'quantity input'} %}
                                {{ edit_form.quantity(class=form_control + " form-qty", id="qtyE", **attribs) }}
                            </div>
                            <div class="col">
                                {{ edit_form.price.label }}
                                {% set attribs = {'aria-label': 'price input'} %}
                                {{ edit_form.price(class=form_control + " form-price", id="priceE", **attribs) }}
                            </div>
                            <div class="col">
                                {{ edit_form.date.label }}
                                {% set attribs = {'aria-label': 'date input'} %}
                                {{ edit_form.date(class=form_control + " form-date", id="dateE", **attribs) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        {{ edit_form.submit(class="btn btn-dark", id="submitBtnE") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='portfolio.js') }}"></script>
{% endblock scripts %}